<h1 class='country_name'>{{name}}</h1>
<div class='description'>
    <div class="descriptionFlex">
        <p class='country_capital'><span>Capital: </span>{{capital}}</p>
        <p class='country_population'><span>Population: </span>{{population}}</p>
        <span class='spanLanguages'>Lagnuages: </span>
        <ul class='country_languages'>
            {{#each languages}}
            <li class='language-list__item'>
                {{this.name}}
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="descriptionFlex">
        <img src='{{flag}}' alt='{{nativeName}}' width='500' height="400"></img>
    </div>
</div>